h2 {
  text-align: center;
  color: black; 
}

form {
  width: 100%; 

  mat-form-field {
    width: 100%; 
  }

  .actions {
    display: flex;
    justify-content: center; 
    gap: 10px; 

    button {
      min-width: 150px; 
      width: auto; 
      margin-top: 15px;
    }
  }
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mat-form-field {
  width: auto;
  flex-grow: 1;
}

.add-button {
  margin-left: 5px;
  margin-bottom: 20px;
}
